<div class="wrapper">
  <div class="form-group">
    <input type="text" placeholder="Search ..." [formControl]="keySearch" />
  </div>

  <div class="wrapper-scroll">
    <ng-container *ngFor="let item of listTodo; let index = index">
      <div class="item-todo">
        <div class="item-todo__content">
          <input
            type="checkbox"
            [checked]="false"
            (change)="onChangeCheckbox($event, index)"
          />
          <span>{{ item.title }}</span>
        </div>

        <div class="item-todo__action">
          <button (click)="onDetailClick(item, index)" class="btn btn_detail">
            Detail
          </button>
          <button (click)="onRemoveClick(item, index)" class="btn btn_remove">
            Remove
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- BULK ACTION -->
<div *ngIf="isShowBulkAction" class="bulk-action">
  <span>Bulk Action:</span>
  <div class="item-todo__action">
    <button class="btn btn_detail">Done</button>
    <button class="btn btn_remove" (click)="onBulkActionRemove()">
      Remove
    </button>
  </div>
</div>
