<form class="wrapper" [formGroup]="formTodo">
  <h2>{{ !!id.value ? "update task" : "new task" }}</h2>
  <div class="form-group">
    <input type="text" placeholder="Add new task ..." formControlName="title" />
  </div>

  <div class="form-group">
    <label for="desc">Description</label>
    <textarea id="desc" formControlName="description"></textarea>
  </div>

  <div class="options">
    <div class="form-group">
      <label for="due_date">due date</label>
      <input type="date" id="due_date" formControlName="dueDate" [min]="minDateDefault" />
    </div>

    <div class="form-group">
      <label for="piority">piority</label>
      <select id="piority" formControlName="piority">
        <option *ngFor="let item of listPiority" [value]="item.value">
          {{ item.label }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <button
      [disabled]="this.formTodo.invalid"
      [ngClass]="{'invalid': this.formTodo.invalid}"
      class="btn"
      (click)="!!id.value ? onUpdate() : onAdd()"
    >
      {{ !!id.value ? "Update" : "Add" }}
    </button>
  </div>
</form>
